# Environment mode
ENV_MODE=local

# Admin URL
ADMIN_URL=admin

# Secret key
SECRET_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890abcdefghijklm

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=blog
DB_USER=blog
DB_PASSWORD=blog
DB_HOST=localhost
DB_PORT=5432

# Backend domain
BACKEND_DOMAIN=

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Post pagination's page size
POST_PAGE_SIZE=